{% raw %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
    <link rel="stylesheet" href="css/styles.2.css" />
    <title>Simulation</title>
  </head>

  <body>
    <div id="app" v-cloak>
      <label for="model">Choose a model:</label>
      <select name="model" id="model" v-model="modelSelected" @change="modelChange($event)">
        <option v-for="(model, key) in modelList" v-bind:value="key">{{ model.name }}</option>
      </select>
      <div id="container">
        <div class="inputContainer" style="flex: 1;">
          {{currentModel}}
        </div>
      </div>

      <div v-if="modelSelected">
        <label :for="simulation.days">Days:</label>
        <input v-model.number="simulation.days" type="number"> 

        <label :for="simulation.step">Step:</label>
        <input v-model.number="simulation.step" type="number"> 

        <div v-for="comp in currentModel.compartments">
          <label :for="comp">{{ comp.name }}:</label>
          <input v-model.number="simulation.initial_conditions[comp.name]" type="number"> 
        </div>
        <div v-for="param in currentModel.params">
          <span>{{ param.name }}</span>
          <label for="param">with range:</label>
          <input type="radio" v-model="simulation.iterate.key" id="param" :value="param.name" @click="paramUncheck(param.name)">

          <div v-if="simulation.iterate.key == param.name">
            <label :for="param + 'Start'">Start:</label>
            <input v-model.number="simulation.iterate.start" :id="param + 'Start'" type="number">
            <label :for="param + 'End'">End:</label>
            <input v-model.number="simulation.iterate.end" :id="param + 'End'" type="number">
            <label :for="param + 'Step'">Step:</label>  
            <input v-model.number="simulation.iterate.step" :id="param + 'Step'" type="number">
          </div>
          <div v-else>
            <label :for="param">Value:</label>
            <input v-model.number="simulation.params[param.name]" type="number" :id="param">
          </div>
        </div>
        {{ simulation }}
      </div>
      <button style="margin: 1em; padding: 0.4em 0.8em; font-size: 1.15em;" @click = "simulate">Simulate</button>

      <simulation
        :sim="currentSimulation"
        :sim-cancel="simCancel"
        :sim-state="simulationState"
        @sim-start="handleSimStart"
        @sim-error="handleSimError"
        @sim-done="handleSimDone"
        @sim-cancel="handleSimCancel"
      ></simulation>
    </div>

    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="js/simulation-comp.2.js"></script>
    <script src="js/iter-controls-comp.2.js"></script>
    <script src="js/error-msg-comp.2.js"></script>
    <script src="js/constants.2.js"></script>
    <script src="js/main.2.js"></script>
  </body>
</html>

{% endraw %}
