{% raw %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="stylesheet" href="css/styles.2.css" />
    <title>Simulation</title>
  </head>

  <body>
    <div id="app" v-cloak>
      <div id="container">
        <div class="inputContainer" style="flex: 1;">
          <label for="modelInput">Simulation Model:</label>
          <textarea name="modelInput" v-model="simulationModel"></textarea>
        </div>

        <div class="inputContainer" style="flex-basis: 400px;">
          <label for="configInput">Configuration:</label>
          <textarea name="configInput" v-model="simulationConfig"></textarea>
        </div>
      </div>
      <iter-controls
        @submit="handleSubmit"
        @reset="reset"
        :button-disabled="simulationState === SIM_STATE.DONE && !pendingChanges"
        :button-text="simulationState === SIM_STATE.INPROGRESS ? 'Stop Simulation' : 'Simulate'"
        :model-variables="modelVariables"
        :config-interval="configInterval"
      ></iter-controls>

      <simulation
        :sim="currentSimulation"
        :sim-cancel="simCancel"
        :sim-state="simulationState"
        @sim-start="handleSimStart"
        @sim-error="handleSimError"
        @sim-done="handleSimDone"
        @sim-cancel="handleSimCancel"
      ></simulation>
    </div>

    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="js/plotly-latest.min.js"></script>
    <script src="js/constants.2.js"></script>
    <script src="js/video-creation-service.2.js"></script>
    <script src="js/plotly-latest.min.js"></script>
    <script src="js/html2canvas.min.js"></script>
    <script src="js/video-generator.2.js"></script>
    <script src="js/simulation-comp.2.js"></script>
    <script src="js/iter-controls-comp.2.js"></script>
    <script src="js/error-msg-comp.2.js"></script>
    <script src="js/main.2.js"></script>
  </body>
</html>

{% endraw %}
