{% raw %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
    <link rel="stylesheet" href="css/styles.2.css" />
    <title>Simulation</title>
  </head>

  <body>
    <div id="app" v-cloak>
      <label for="model">Choose a model:</label>
      <select name="model" id="model" v-model="modelSelected" @change="modelChange($event)">
        <option v-for="(model, key) in modelList" v-bind:value="key">{{ model.name }}</option>
      </select>
      <div id="container">
        <div class="inputContainer" style="flex: 1;">
          {{currentModel}}
        </div>
      </div>
      <div v-for="comp in currentModel.compartments">
        <label :for="comp">{{ comp.name }}:</label>
        <input v-model="simulation.initial_conditions[comp.name]" type="number"> 
      </div>
      <div v-for="param in currentModel.params">
        <label :for="param">{{ param.name }}:</label>
        <input v-model="simulation.params[param.name]" type="number">
      </div>

      <iter-controls
        @submit="handleSubmit"
        :button-disabled="simulationState === SIM_STATE.DONE && !pendingChanges"
        :button-text="simulationState === SIM_STATE.INPROGRESS ? 'Stop Simulation' : 'Simulate'"
        :model-variables="this.simulation.params"
        :config-interval="configInterval"
      ></iter-controls>

      <simulation
        :sim="currentSimulation"
        :sim-cancel="simCancel"
        :sim-state="simulationState"
        @sim-start="handleSimStart"
        @sim-error="handleSimError"
        @sim-done="handleSimDone"
        @sim-cancel="handleSimCancel"
      ></simulation>
    </div>

    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="js/simulation-comp.2.js"></script>
    <script src="js/iter-controls-comp.2.js"></script>
    <script src="js/error-msg-comp.2.js"></script>
    <script src="js/constants.2.js"></script>
    <script src="js/main.2.js"></script>
  </body>
</html>

{% endraw %}
